<html>

<head>
    <style>
       body {
           background-color: aqua
       }
    </style>
</head>

<body>
    <h1>You have requested below details </h1>
    <p>
        Student name : <%= name%> <br>
        Student ID : <%= id%>

    </p>
</body>

</html>